body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
	font: 10pt "Calibri";
}
img{
	margin:-10px;
	width: 120%;
	height: 100%;
}
.isi{
	width: 210mm;
	min-height: 297mm;
	padding: 15mm;
	margin: 10mm auto;
	border: 1px red solid;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	position: relative;
}
table{
	width: 100%;
	height: 80%;
}
.tr{
	width: 15%;


}
.tr1{
	width: 40%;
	font-size: 10pt;
	font-weight: bold;
}

.tr2{
	width: 5%;
}
.tr3{
	width: 35%;
}
.tr4{
	width: 23%;
	font-size: 40pt;
	font-weight: bold;
	color: red;
	text-align: center;
}
.tr5{
	width: 17%;
	font-size: 30pt;
	font-weight: bold;
	color: blue;
	text-align: center;
}
.tr6{
	font-size: 20pt;
	font-weight: bold;
	color: green;
	text-align: center;
}
.tr7{
	font-size: 15pt;
	color: black;
	text-align: center;
	background-color: #8B0000;
}
.tr8{
	font-size: 15pt;
	color: black;
	text-align: center;
	background-color: #008000;
}
.judul{
 text-align: center;
}
.judul h1{
	text-decoration: underline;
	letter-spacing: 2px;
}
.judul h2{
	line-height: 1px;
}